DATABASE_URL=postgresql://postgres:contrasenia@localhost:5432/nextvest_db
SECRET_KEY=reemplaza_con_clave_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
TOKEN_PARENTAL_EXPIRE_HOURS=48
RESUMEN_SEMANAL_ACTIVO=true
EMAIL_FROM=noreply@nextvest.com
SENDGRID_API_KEY=